<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.drake.cs188.finalproject" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".coverpage.CoverPage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter1.Chapter1"
            android:label="@string/title_activity_chapter1"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".chapter2.Chapter2"
            android:label="@string/title_activity_chapter2"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".chapter3.Chapter3"
            android:label="@string/title_activity_chapter3"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".chapter4.Chapter4"
            android:label="@string/title_activity_chapter4"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".chapter5.Chapter5"
            android:label="@string/title_activity_chapter5"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".chapter6.Chapter6"
            android:label="@string/title_activity_chapter6"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".chapter7.Chapter7"
            android:label="@string/title_activity_chapter7"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".chapter8.Chapter8"
            android:label="@string/title_activity_chapter8"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
